<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <nav id="navbar">
        <span>Portfolio</span>
        <ul class="nav-items">
            <li><a href="#about">About Me</a></li>
            <li><a href="#music">Music</a></li>
            <li><a href="#skills">Skills</a></li>
        </ul>
    </nav>
    



    <div class="about-me" id="about">
        <span class="intro">Hey, I'm Jwal!</span>
        <h1>I am a
            <span class="typing-text" data-wait="3000" data-words='["Developer", "Tech Enthusiast", "Web Designer"]'></span>
        </h1>
        <p>
            I'm a sophomore year Computer Science student pursuing my interests in <br>Front-End Web Development and Web Design. <br>
            I am a self taught developer with knowledge in <span>HTML</span>, <span>CSS</span>, <span>JavaScript</span> and <span>React.js</span>.<br>
            Some other languages in my skillset include <span>Python</span>, <span>C++</span>and  <span>C</span>
        </p>
        <a href="#contact" class="contact">Contact</a>
    </div>


    <div class="social">
        <a href="https://www.linkedin.com/in/jwal-shah-07a509209/"><img src="Logos/linkedin.svg"></a>
        <a href="https://github.com/"><img src="logos/github.svg"></a>
        <a href="https://twitter.com/Jwalshah123"><img src="logos/twitter.svg"></a>
        <a href="https://www.instagram.com/jwalshah/"><img src="logos/instagram.svg"></a>
    </div>



    <div class="music" id="music">
        <h1>Music</h1>
        <h2>Artists I like</h2>
        <ul class="artist-list">
            <li>
                <div class="card">
                    <img src="Images/pjimage-1524659025.jpeg" alt="img">
                    <a href="https://open.spotify.com/artist/4YRxDV8wJFPHPTeXepOstw" src="./pjimage-1524659025.jpeg"><b><i>Arijit Singh</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="Images//edsheeran.webp" alt="img">
                    <a href="https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"><b><i>Ed Sheeran</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="Images/01-dj-avicii-in-sri-panwa-phuket-resort1-2.jpeg" alt="img">
                    <a href="https://open.spotify.com/artist/1vCWHaC5f2uS3yhpwWbIA6"><b><i>Avicii</i></b></a>
                </div>
            </li>
        </ul>
        <h3>Frequently Listened Songs</h3>
        <ul class="song-list">
            <li>
                <div class="card">
                    <img src="Images/Screenshot 2022-02-24 at 2.04.50 AM.png">
                    <a href="https://open.spotify.com/album/4xkM0BwLM9H2IUcbYzpcBI?highlight=spotify:track:2QjOHCTQ1Jl3zawyYOpxh6"><b><i>Sweater Weather</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="Images/Screenshot 2022-02-24 at 2.05.09 AM.png" alt="img">
                    <a href="https://open.spotify.com/album/5bfpRtBW7RNRdsm3tRyl3R?highlight=spotify:track:3USxtqRwSYz57Ewm6wWRMp"><b><i>Heat Waves</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="Images/Screenshot 2022-02-24 at 2.05.53 AM.png" alt="img">
                    <a href="https://open.spotify.com/album/7lF34sP6HtRAL7VEMvYHff?highlight=spotify:track:6pzlnyHTVYi5FOmrgOmC95"><b><i>Jaan Nisaar</i></b></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="skills" id="skills" >
        <h1> Skills </h1>
        <h2> Languages known</h2>
        <ul class="languages-list">
            <li>
                <div class="card">
                    <img src="logos/C.png" alt="img">
                    <a href="https://www.programiz.com/c-programming"><b><i>C Programming</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="logos/C++.jpeg" alt="img">
                    <a href="https://www.programiz.com/cpp-programming"><b><i>C++ Programming</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="logos/Python.png" alt="img">
                    <a href="https://www.programiz.com/python-programming"><b><i>Python</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="logos/Java.png" alt="img">
                    <a href="https://www.programiz.com/java-programming"><b><i>Java</i></b></a>
                </div>
            </li>
        </ul>

        <h3>Currently Working on</h3>
        <ul class="current-list">
            <li>
                <div class="card">
                    <img src="logos/html.png" alt="img">
                    <a href=""><b><i>HTML</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="logos/css.png" alt="img">
                    <a href=""><b><i>CSS</i></b></a>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="logos/js.png" alt="img">
                    <a href=""><b><i>Java Script</i></b></a>
                </div>
            </li>
        </ul>


    
    </div>


    <div ng-app="Displaying" ng-controller='displayingController'  class="contact-me" id="contact">
        <h1>Contact Me</h1>
        <form action="https://formsubmit.co/shahjwal123@gmail.com" method="POST">
            <h2>Send Message</h2>
            <div class="input-box">
                <input type="text" name="name" ng-model="name" required>
                <span>Full Name</span>
            </div>
            <div class="input-box">
                <input type="email" name="email" ng-model="email" required>
                <span>Email</span>
            </div>
            <div class="input-box">
                <input type="text" name="message" ng-model="message" ng-blur="" required></input>
                <span>Your Message</span>
            </div>
            <div class="input-box">
                <input type="submit" value="Send" onclick="submit()">
            </div>
            <p>Thanks for registering {{name}}</p>
        
        </form>

    </div>

    <div class="backtotop" align="center" style="color: chartreuse;">
        <a href="#about">Back to top</a>
    </div>

    <script src="./script.js">
        
    </script>
    <script>
        var thisApp = angular.module('Displaying',[])
        thisApp.controller('displayingController', function ($scope){
        $scope.display = function(){
            if ($scope.name != '') {
                    alert($scope.name + ", You have successfully registered.");
                }
        }
    })
    </script>
</body>
</html>
